* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

body {
  background-color: #f4f4f9;
  color: #333;
  display: flex;
}

.container {
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns:repeat(5, 1fr) ;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: 0.3s ease;
}


.story-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-body {
  font-size: 0.85em;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.story-tags span {
  background: #007bff;
  color: white;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: capitalize;
}

.story-reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
}

.reaction{
    display: flex;
    gap: 20px;
}

.likes, .dislikes {
    font-weight: bold;
}

.views {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

read-more-button a {
  color: #212121;
  padding: 5px 7px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #007bff;
}